@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200&display=swap');

/* GLOBAL STYLING */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600px;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white{
    font-size: 13px;
    font-weight: 600px;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}

body{
    width: 100%;
}



/* Home Page */

/*Header*/

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 80px;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0,0, 0,0.2);
    z-index: 99;
    position: sticky;
    top: 0;
    left: 0;
}

#nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#nav li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#nav li a:hover, #nav li a.active{
    color: #088178;
}

#nav li a.active::after,
#nav li a:hover::after{   /*Pseudoclass*/
    content: "";
    width: 30%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.hamburger{
    display: none;
}

#close{
    display: none;
}

.search-field {
    width: 300px;
    padding: 10px 35px 10px 15px;
    border: none;
    border-radius: 100px;
    outline: none;
}

.search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 60px;
    background-color:#088178;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}


.dropdown {
    position: relative;
    display: inline-block;
  }
  
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
 
.dropdown-content a:hover {background-color: #ddd;}
  

.dropdown:hover .dropdown-content {display: block;}
  
 
.dropdown:hover .dropbtn {background-color: #3e8e41;}




/* HERO */

.hero{
    background-image: url("img/hero4.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.hero h4{
    padding-bottom: 15px;
}

.hero h1{
    color: #088178;
}

.hero button{
    background-image: url("img/button.png");
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}



/* FEATURES */

#features{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#features .feature-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0, 0,0.3);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#features .feature-box:hover{
    box-shadow: 10px 10px 54px rgba(70,62,221,0.1);
}

#features .feature-box img{     
    width: 100px;               /*for making responsive*/
    margin-bottom: 10px;
}

#features .feature-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

#features .feature-box:nth-child(2) h6{
    background-color: #cdebbc;
}
#features .feature-box:nth-child(3) h6{
    background-color: #d1e8f2;
}
#features .feature-box:nth-child(4) h6{
    background-color: #cdd4f8;
}
#features .feature-box:nth-child(5) h6{
    background-color: #f6dbf6;
}
#features .feature-box:nth-child(6) h6{
    background-color: #fff2e5;
}




/* PRODUCTS */

#product1{
    text-align: center;
}

#product1 .product-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
}

#product1 .prod{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .prod:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.07);
    scale: 1.02;
}

#product1 .prod img{
    width: 100%;
    border-radius: 20px;
}

#product1 .prod .descp{
    text-align: start;
    padding: 10px 0;
}

#product1 .prod .descp span{
    color: #606063;
    font-size: 12px;
}

#product1 .prod .descp h5{
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .prod .descp i{
    font-size: 12px;
    color: rgb(243,181,25);
}

#product1 .prod .descp h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .prod .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    color: #088178;
    border:  1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
} 



/* BANNER */

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/banner/b2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4{
    color:#fff;
    font-size: 16px;
}

#banner h2{
    color:#fff;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span{
    color:#ef3636;
}

#banner button:hover{
    background-color: #088178;
    color: #fff;
}



/* ACTION-BANNER */

#action-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#action-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/banner/b17.jpg");
    min-width: 660px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#action-banner .banner-2{
    background-image: url("img/banner/b10.jpg");
}

#action-banner h4{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

#action-banner h2{
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}

#action-banner span{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 15px;
}

#action-banner .banner-box:hover button{
    background-color: #088178;
    border: 1px solid #088178;
}



/* TEXT-BANNER */

#text-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#text-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/banner/b18.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}


#text-banner .banner-3{
    background-image: url("img/banner/b4.jpg");
}

#text-banner .banner-4{
    background-image: url("img/banner/b7.jpg");
}


#text-banner h2{
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}

#text-banner h3{
    color: #ec544e;
    font-weight: 800;
    font-size: 16px;
}



/* NEWS-LETTER */

#newsletter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-image: url("img/banner/b14.png");
    background-position: 20% 30%;
    background-color: #041e42;
}

#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color:#fff;
}

#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color:#818ea0;
}

#newsletter p span{
    color: #ffbd27;
}

#newsletter .form{
    display: flex;
    width: 40%;
}

#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button{
    background-color: #088178;
    color: white;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}



/* FOOTER */

footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 18px;
    padding-bottom: 20px;
}

footer p{
    font-size: 14px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 15px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .social{
    margin-top: 20px;
}

footer .social{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
}

footer .install img{
    margin: 10px 0 15px 0;
}

footer .social i:hover, footer a:hover{
    color: #088178;
}

.copyright{
    text-align: center;
    width: 100%;
    padding: 20px 0px;
    box-shadow: 0 3px 8px rgb(0 0 0 / 25%);
}




/* MEDIA-QUERIES */

@media (max-width:799px) {
    .section-p1{
        padding: 40px 40px;
    }
    
    #nav{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -500px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0,0,0,0.2);
        padding: 80px 0 0 40px;
        transition: 0.3s;
    }

    /* #nav a:active{
        right: 0px;
    } */

    #nav li{
        margin-bottom: 25px;
    }

    .hamburger{
        display: flex;
        align-items: center;
    }

    .hamburger i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    .hide{
        display: none;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 60px;
        background-color:#088178;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
    }
      
      .tooltip:hover .tooltiptext {
        visibility: visible;
    }

    .hero{
        height: 70vh;
        background-position: top 25% right 30%;
        padding: 0 80px;
    }

    #features{
        justify-content: center;
    }

    #features .feature-box{
        margin: 15px 15px; 
    }

    #product1 .product-container{
        justify-content: center;
    }

    #product1 .prod{
        margin: 15px;
    }

    #banner {
        height: 20vh;
    }

    #action-banner .banner-box{
        min-width: 100%;
        height: 30vh;
    }

    #text-banner{
        padding: 0 40px;
    }

    #text-banner .banner-box{
       width: 28%;
    }

    #newsletter .form{
        width: 70%;
    }
    
}


@media (max-width:477px) { 

    .section-p1{
        padding: 20px;
    }

    .search-field {
        width: 93px;
        padding: 10px 25px 10px 15px;
    }

    header{
        padding: 10px 30px;
    }

    .hero{
        background-position: 55%;
        padding: 0 20px;
    }

    h2{
        font-size: 38px;
    }

    h2{
        font-size: 32px;
    }

    #features{
        justify-content: space-between;
    }

    #features .feature-box{
        width: 155px;
        margin: 0 0 15px 0; 
    }

    #product1 .prod{
        width: 100%;
    }

    #banner {
        height: 40vh;
    }

    #action-banner .banner-box{
        height: 40vh;
    }

    #action-banner .banner-2{
        margin-top: 20px;
    }

    #text-banner{
        padding: 0 20px;
    }

    #text-banner .banner-box{
        width: 100%;
    }

    #newsletter{
        padding: 40px 20px;
    }

    #newsletter .form{
        width: 100%;
    }

    .copyright{
        padding: 10px 0;
    }

}
















